*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-fondo: #94D2BD;
    --color-fondo-oscuro: #001219;
    --color-primario: #BB3E03;
    --color-secundario: #AE2012;
    --color-boton: #EE9B00;
    --color-hover: #CA6702;
    --color-borde: #0A9396;
}
.body{
    background-color: var(--color-fondo);
    font-family: "Zalando Sans Expanded", sans-serif;
}
.section{
    padding: 2rem;
}
.logo{
    height: 100px;
    width: 100px;
}
.navbar-dark{
    background-color: var(--color-fondo-oscuro);
}
.navbar-dark .navbar-nav .nav-link{
    color: var(--color-primario);
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: var(--color-secundario);
}
.titulo{
    text-transform: capitalize;
    font-weight: bold;
}
.parrafo{
    font-size: large;
}

.tarjeta{
    background-color: var(--color-fondo-oscuro);
    padding: 2rem;
    margin: 1rem;
    border: 4px solid var(--color-borde);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjeta-titulo{
    color: var(--color-primario);
    font-weight: bold;
    text-transform: capitalize;
}
.tarjeta-parrafo{
    color: var(--color-primario);
}
.tarjeta-imagen{
    border: 2px solid var(--color-borde);
}
.btn{
    text-transform: capitalize;
    font-weight: bold;
}
.mapa-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapa{
    border: 4px solid var(--color-borde);
    height: 500px;
    width: 450px;
    
}

.footer{
    background-color: var(--color-fondo-oscuro);
    padding: 2rem;
    margin: 1rem;

}

.footer-contenedor{
    padding: 2rem;
}
.footer-titulo{
    text-transform: capitalize;
    font-weight: bold;
    color: var(--color-primario);
}
.footer-link-contenedor{
    list-style: none;
}
.footer-link{
    color: var(--color-primario);
    text-decoration: none;
}
.footer-link:hover{
    color: var(--color-secundario);
}